AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: Right
AlignOperands: 'true'
AlignTrailingComments: 'true'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
BasedOnStyle: Mozilla
BreakBeforeBraces: Stroustrup
ColumnLimit: '120'
IndentWidth: '4'
InsertBraces: 'true'
PointerAlignment: 'Left'
-- QualifierAlignment: 'QAS_Right'
-- ReferenceAlignment: 'RAS_Left'
ReflowComments: 'false'
SortIncludes: 'false'
SortUsingDeclarations: 'false'
TabWidth: '4'
UseTab: 'false'